<section>
  <h4>El blog donde puedes crear tus propios sitios web.</h4>
  <p>Esta es la página principal. A continuación, la foto de un Koala.</p>
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Koala_in_NSW.jpg" width="500px"/>
</section>
