<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (min-width: 800px) and (min-device-width: 600px)"
      href="/stylesheets/wide.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (max-width: 480px)"
      href="/stylesheets/smartphone.css"
    />
  </head>
  <body>
    <div id="page">
      <header id="mainHeader">
        <h1>Welcome to My Blog</h1>
      </header>
      <nav id="mainNav">
        <a href="/">Home</a>
        <a href="/author">Author</a>
        <a href="/posts">Posts</a>
      </nav>
      <section>
        <div><%- body %></div>
      </section>
      <footer>
        <address>
          Adrián Maldonado Robles. Contacto: adrian.maldonado@alumnos.upm.es
        </address>
      </footer>
    </div>
  </body>
</html>
