
<div class="wideRow">
<label for="preg" class="itemNarrow">Título:</label>
<input
    type="text"
    class="itemWide"
    id="preg"
    name="title"
    placeholder="Post de Paco"
/>
</div>
<br />
<div class="wideRow">
<label for="preg" class="itemNarrow">Contenido del post:</label>
<textarea
    type="text"
    class="itemWide"
    id="preg"
    name="body"
    placeholder="La gran aventura de Paco"
></textarea>
</div>
<br />
<div>
<label for="image">Elige una imagen (opcional):</label>
<input type="file" id="image" name="photo" />
</div>
<br />
<a href="/posts" class="button">Cancel</a>
<input type="submit" value="Save" class="button"/>

